*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{

    background:#111827;
    color:white;

}

.hero{

    height:100vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:20px;

}

h1{

    font-size:60px;

}

h2{

    margin-top:20px;

    color:#38bdf8;

}

p{

    margin-top:25px;

    max-width:700px;

    line-height:1.8;

}

button{

    margin-top:40px;

    padding:15px 35px;

    border:none;

    border-radius:10px;

    background:#38bdf8;

    cursor:pointer;

    font-size:18px;

}